<html>
    <head>
        <title>ConfCheck Results</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="skeleton_tabs/skeleton-tabs.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="skeleton_tabs/skeleton-tabs.css">
        <style media="screen" type="text/css">
         * { font-size: 14px; }
         tfoot tr th { background-color: #E0E0E0; font-size: 14px; }
         thead tr th { background-color: #E0E0E0; font-size: 14px; }

         .base_is_empty { background-color: #80A6D9; }
         .b { font-weight: bold; }
         .c { text-align: center; }
         .prod_has_same { background-color: #fE5978; }
         .t { vertical-align: top; }
        </style>
    </head>
    <body>
        <ul class="tab-nav">
            <li>
                <a class="button active" href="#one">RailsConfig Values</a>
            </li>
            <li>
                <a class="button" href="#two">RailsConfig Usage</a>
                </li>
            <li>
                <a class="button" href="#three">ENV Var Usage</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="one">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th class="c">Keys</th>
                            {{with .RailsConfigChecker}}
                            {{range .ConfigFiles}}
                            <th class="c">{{.Name}}</th>
                            {{end}}
                            {{end}}
                        </tr>
                    </thead>
                    <tbody>
                        {{with .RailsConfigChecker}}
                        {{range $idx, $key := .Keys}}
                        <tr>
                            <td class="b">{{$key}}</td>
                            {{range $.RailsConfigChecker.ConfigFiles}}
                            {{with .EntryAt $key}}<td class="{{if .BaseIsEmpty}}base_is_empty{{end}}{{if .EqualsOther}}prod_has_same{{end}}">{{.Value}}</td>{{end}}
                            {{end}}
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                    <tfoot>
                        <th>Keys</th>
                        {{with .RailsConfigChecker}}
                        {{range .ConfigFiles}}
                        <th>{{.Name}}</th>
                        {{end}}
                        {{end}}
                    </tfoot>
                </table>
            </div>

            <div class="tab-pane" id="two">
            </div>

            <div class="tab-pane" id="three">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th class="c">Environment Variable</th>
                            <th class="c">Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{with .EnvVarChecker}}
                        {{range $key, $paths := .EnvVars}}
                        <tr>
                            <td class="b t">{{$key}}</td>
                            <td>
                            {{range $path := $paths}}
                                <div>{{$path}}</div>
                            {{end}}
                            </td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
