<html>
    <head>
        <title>ConfCheck Results</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" />
        <style media="screen" type="text/css">
            * { font-size: 12px; }
            thead tr th { background-color: #F0F4F5; font-size: 14px; text-align: center; }
            tfoot tr th { background-color: #F0F4F5; font-size: 14px; text-align: center; }
            .bold { font-weight: bold; }
            .prod_is_same { background-color: #ffccd4; }
        </style>
    </head>
    <body>
        <h1>ConfCheck Results</h1>
        <table class="u-full-width">
            <thead>
                <tr>
                <th>Keys</th>
                {{with .RailsConfig}}
                    {{range .ConfigFiles}}
                        <th>{{.Name}}</th>
                    {{end}}
                {{end}}
                        </tr>
            </thead>
            <tbody>
                {{with .RailsConfig -}}
                    {{range $idx, $key := .Keys}}
                        <tr>
                            <td class="bold">{{$key}}</td>

                            {{range $.RailsConfig.ConfigFiles}}
                                {{with index .Entries $key}}<td class="{{if .EqualsOther}}prod_is_same{{end}}">{{.Value}}</td>{{end}}
                            {{end}}
                        </tr>
                    {{- end}}
                {{- end}}
            </tbody>
            <tfoot>
                <th>Keys</th>
                {{with .RailsConfig}}
                    {{range .ConfigFiles}}
                        <th>{{.Name}}</th>
                    {{end}}
                {{end}}
            </tfoot>
        </table>
    </body>
</html>
